
#er-theme .line{
    position:relative;
    text-align:center;
}
#er-theme .line:before,#er-theme .line:after {
    content: "";
    width: 50%;
    height: 2px;
    position: absolute;
    top:50%;
}
#er-theme .line:before {
    background: -webkit-linear-gradient(right, #da7676  , #eee);
    background: -o-linear-gradient(left, #da7676  , #eee);
    background: -moz-linear-gradient(left,#da7676  , #eee);
    background: linear-gradient(to left, #da7676  , #eee);
    left: 1px;
}
#er-theme .line:after {
    background: -webkit-linear-gradient(left, #da7676  , #eee);
    background: -o-linear-gradient(right, #da7676  , #eee);
    background: -moz-linear-gradient(right,#666 , #eee);
    background: linear-gradient(to right, #da7676 , #eee);
    right: 1px;
}